@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@theme {
  --font-hero: "Kaushan Script", cursive;
}

body {
  background-color: #f9f8f1;
}
